<!DOCTYPE html>
<html> 
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Home Page</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
  </head>
  <body>
		
		<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Highline Visualization</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/residence">Residence</a></li>
            <li><a href="/office">Office</a></li>
					</ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
		
		<div class="jumbotron"><iframe width="100%" height="900px" src="/office.html" name="iframe_a"></iframe></div>
		
		
			<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">		
			<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
  </body>
</html>

<!-- https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js -->